# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [1]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Downloading from https://www.kaggle.com/api/v1/datasets/download/dgomonov/new-york-city-airbnb-open-data?dataset_version_number=3...

100%|██████████| 2.44M/2.44M [00:00<00:00, 54.1MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/dgomonov/new-york-city-airbnb-open-data/versions/3
True

## A. Discovering

Display the first 10 rows

In [3]:
display(df.head(10))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [4]:
display(df.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [5]:
display(df.shape)

(48895, 16)

Identify the numerical features:

In [6]:
numerical_features = df.select_dtypes(include=np.number).columns
display(numerical_features)

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

Identify the categorical features

In [7]:
categorical_features = df.select_dtypes(include='object').columns
display(categorical_features)

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

In [8]:
# 1. What are the most expensive and cheapest neighborhoods for Airbnb rentals in NYC?
# 2. How does the average price of an Airbnb listing vary by room type?
# 3. Are there any correlations between the number of reviews and the price or availability of a listing?
# 4. Which hosts have the most listings, and how does this impact their average review rate or pricing strategy?
# 5. What is the distribution of minimum night stays across different boroughs or room types, and how might this affect rental income?

## B. Structuring

Check if the dataset has proper column types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

*Check* if the dataset has index issues

In [10]:
print(f"Is the index unique? {df.index.is_unique}")
print(f"Is the index a default RangeIndex? {isinstance(df.index, pd.RangeIndex)}")

Is the index unique? True
Is the index a default RangeIndex? True

Check if the dataset has duplicated rows

In [11]:
print(f"Number of duplicated rows: {df.duplicated().sum()}")

Number of duplicated rows: 0

Convert columns to correct types (e.g., dates → datetime).

In [12]:
df['last_review'] = pd.to_datetime(df['last_review'])
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

None

Identify at least one structural issue and describe how to fix it.

In [13]:
# Structural Issue: The 'last_review' column was initially of object (string) type, but it contains date information.
# Fix: Convert the 'last_review' column to a datetime type using `pd.to_datetime()`. This has already been applied in the previous step.
# Code example (already executed):
# df['last_review'] = pd.to_datetime(df['last_review'])

## C. Cleaning

Check for missing values

In [14]:
missing_values = df.isnull().sum()
display(missing_values[missing_values > 0])

name                    16
host_name               21
last_review          10052
reviews_per_month    10052
dtype: int64

Check for outliers in `minimum_nights`

In [15]:
display(df['minimum_nights'].describe())

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [16]:
invalid_prices = df[df['price'] <= 0]
print(f"Number of listings with price <= 0: {len(invalid_prices)}")

Number of listings with price <= 0: 11

Apply a missing-value strategy (drop, fill, or flag)

In [18]:
# 1. Drop rows with invalid prices (price <= 0)
df = df[df['price'] > 0].copy()

# 2. Fill missing reviews_per_month with 0 (as no reviews implies 0 reviews/month)
df.loc[:, 'reviews_per_month'] = df['reviews_per_month'].fillna(0)

# 3. Drop rows with missing 'name' or 'host_name'
df.dropna(subset=['name', 'host_name'], inplace=True)

# Display the number of remaining missing values to verify
missing_values_after_cleaning = df.isnull().sum()
display(missing_values_after_cleaning[missing_values_after_cleaning > 0])

# Verify that invalid prices are gone
print(f"Number of listings with price <= 0 after cleaning: {len(df[df['price'] <= 0])}")

last_review    10036
dtype: int64

Number of listings with price <= 0 after cleaning: 0

Apply an outlier-handling strategy

In [19]:
# Apply outlier handling for 'minimum_nights'
# Capping 'minimum_nights' at 365 (1 year) as values higher than this are highly unusual
df['minimum_nights'] = df['minimum_nights'].clip(upper=365)

print(f"'minimum_nights' statistics after outlier handling:\n{df['minimum_nights'].describe()}")

'minimum_nights' statistics after outlier handling:
count    48847.000000
mean         6.938297
std         17.462356
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max        365.000000
Name: minimum_nights, dtype: float64

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [20]:
# 1. price_per_minimum_night
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']

# 2. review_rate_per_month
# Given the available columns, reviews_per_month directly represents a review frequency rate.
# If 'ratings' were available (e.g., average rating), a more complex combination would be used.
df['review_rate_per_month'] = df['reviews_per_month']

# 3. is_expensive (boolean flag based on price threshold)
price_threshold = df['price'].quantile(0.75) # Using the 75th percentile as a threshold
df['is_expensive'] = df['price'] > price_threshold

display(df[['price', 'minimum_nights', 'price_per_minimum_night', 'reviews_per_month', 'review_rate_per_month', 'is_expensive']].head())

,price,minimum_nights,price_per_minimum_night,reviews_per_month,review_rate_per_month,is_expensive
0,149,1,149.0,0.21,0.21,False
1,225,1,225.0,0.38,0.38,True
2,150,3,50.0,0.00,0.00,False
3,89,1,89.0,4.64,4.64,False
4,80,10,8.0,0.10,0.10,False

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [21]:
# Aggregated summary table: Average price per neighbourhood_group
avg_price_per_neighbourhood_group = df.groupby('neighbourhood_group')['price'].mean().reset_index()
avg_price_per_neighbourhood_group.rename(columns={'price': 'average_price'}, inplace=True)
display(avg_price_per_neighbourhood_group)

  neighbourhood_group  average_price
0               Bronx      87.549632
1            Brooklyn     124.466285
2           Manhattan     196.906571
3              Queens      99.536017
4       Staten Island     114.812332

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [22]:
# Initialize a dictionary to store validation results
validation_report = {}

# 1. Validation Check: Price must be positive.
# We already dropped rows with price <= 0 in the cleaning step, so this should be 0.
violation_price_positive = df[df['price'] <= 0].shape[0]
validation_report['Price must be positive'] = violation_price_positive

# 2. Validation Check: Host ID should not be null.
# Host ID was an int64 and should not have nulls. We also dropped rows with missing host_name, which implies host_id should be present.
violation_host_id_not_null = df['host_id'].isnull().sum()
validation_report['Host ID should not be null'] = violation_host_id_not_null

# 3. Validation Check: Minimum nights must be >= 1.
# We capped minimum_nights, and its minimum value is 1, so this should be 0.
violation_minimum_nights_ge_1 = df[df['minimum_nights'] < 1].shape[0]
validation_report['Minimum nights must be >= 1'] = violation_minimum_nights_ge_1

# Generate validation report
print("--- Validation Report ---")
for rule, count in validation_report.items():
    print(f"Rule: '{rule}' violated by {count} row(s)")
print("-------------------------")

# Decide if invalid rows should be removed or corrected
print("\nDecision on invalid rows:")
if all(count == 0 for count in validation_report.values()):
    print("All validation checks passed with 0 violations. No further action needed for these specific rules.")
else:
    print("Some rules were violated. Depending on the specific rule and the number of violations, rows might be removed or corrected. For example:")
    print("- For 'Price must be positive' violations: These rows represent fundamentally incorrect data and are best removed, which was done during cleaning.")
    print("- For 'Host ID should not be null' violations: If any were found, these would likely be critical data errors, and removal would be a strong consideration unless imputation was robust.")
    print("- For 'Minimum nights must be >= 1' violations: These are critical errors, and removal or correction to 1 would be necessary.")

--- Validation Report ---
Rule: 'Price must be positive' violated by 0 row(s)
Rule: 'Host ID should not be null' violated by 0 row(s)
Rule: 'Minimum nights must be >= 1' violated by 0 row(s)
-------------------------

Decision on invalid rows:
All validation checks passed with 0 violations. No further action needed for these specific rules.

## F. Publishing

Select final columns for publication.

In [23]:
final_columns = [
    'id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
    'number_of_reviews', 'last_review', 'reviews_per_month',
    'calculated_host_listings_count', 'availability_365',
    'price_per_minimum_night', 'review_rate_per_month', 'is_expensive'
]

df_published = df[final_columns].copy()
display(df_published.head())

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,149.0,0.21,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,225.0,0.38,True
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365,50.0,0.00,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,89.0,4.64,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,8.0,0.10,False

Export cleaned dataset as "cleaned_airbnb.csv"

In [24]:
df_published.to_csv('cleaned_airbnb.csv', index=False)
print("Cleaned dataset exported to 'cleaned_airbnb.csv'")

Cleaned dataset exported to 'cleaned_airbnb.csv'

Export summary reports (e.g., validation or aggregations) as CSV.

In [25]:
# Export aggregated summary table
avg_price_per_neighbourhood_group.to_csv('average_price_per_neighbourhood_group.csv', index=False)
print("Average price per neighbourhood group report exported to 'average_price_per_neighbourhood_group.csv'")

# Optionally, export the validation report as a CSV as well
validation_df = pd.DataFrame.from_dict(validation_report, orient='index', columns=['Violations'])
validation_df.index.name = 'Validation_Rule'
validation_df.to_csv('validation_report.csv', index=True)
print("Validation report exported to 'validation_report.csv'")

Average price per neighbourhood group report exported to 'average_price_per_neighbourhood_group.csv'
Validation report exported to 'validation_report.csv'